body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:654px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:378px;
  width:654px;
  height:369px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:756px;
  width:654px;
  height:369px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1132px;
  width:654px;
  height:369px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1510px;
  width:654px;
  height:369px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1888px;
  width:654px;
  height:369px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2265px;
  width:654px;
  height:369px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2642px;
  width:654px;
  height:369px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3020px;
  width:654px;
  height:369px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3397px;
  width:654px;
  height:369px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3775px;
  width:654px;
  height:369px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4152px;
  width:654px;
  height:369px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4530px;
  width:654px;
  height:369px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4907px;
  width:654px;
  height:369px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5285px;
  width:654px;
  height:369px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5663px;
  width:654px;
  height:369px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6040px;
  width:654px;
  height:369px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6418px;
  width:654px;
  height:369px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6795px;
  width:654px;
  height:369px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7173px;
  width:654px;
  height:369px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7550px;
  width:654px;
  height:369px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7927px;
  width:654px;
  height:369px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8305px;
  width:654px;
  height:369px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8683px;
  width:654px;
  height:369px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9060px;
  width:654px;
  height:369px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9437px;
  width:654px;
  height:369px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9815px;
  width:654px;
  height:369px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10193px;
  width:654px;
  height:369px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10570px;
  width:654px;
  height:369px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10947px;
  width:654px;
  height:369px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11325px;
  width:654px;
  height:369px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11703px;
  width:654px;
  height:369px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12081px;
  width:654px;
  height:369px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12457px;
  width:654px;
  height:369px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12835px;
  width:654px;
  height:369px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13213px;
  width:654px;
  height:369px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13590px;
  width:654px;
  height:369px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13968px;
  width:654px;
  height:369px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14345px;
  width:654px;
  height:369px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14722px;
  width:654px;
  height:369px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15100px;
  width:654px;
  height:369px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15478px;
  width:654px;
  height:369px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15855px;
  width:654px;
  height:369px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16232px;
  width:654px;
  height:369px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16610px;
  width:654px;
  height:369px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16988px;
  width:654px;
  height:369px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:369px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17365px;
  width:654px;
  height:369px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:368px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17746px;
  width:654px;
  height:368px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:368px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18124px;
  width:654px;
  height:368px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:368px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18501px;
  width:654px;
  height:368px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:368px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18878px;
  width:654px;
  height:368px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:368px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19256px;
  width:654px;
  height:368px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:368px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19632px;
  width:654px;
  height:368px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:476px;
  width:164px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:523px;
  width:164px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:571px;
  width:164px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:615px;
  width:164px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:665px;
  width:164px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:711px;
  width:164px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:775px;
  width:52px;
  height:10px;
}
#u60_img.mouseOver {
}
#u60.mouseOver {
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:4546px;
  width:52px;
  height:10px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:8321px;
  width:52px;
  height:10px;
}
#u62_img.mouseOver {
}
#u62.mouseOver {
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:12098px;
  width:52px;
  height:10px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:13989px;
  width:52px;
  height:10px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:17378px;
  width:52px;
  height:10px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:17370px;
  width:79px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:13981px;
  width:79px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:12090px;
  width:79px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8313px;
  width:79px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:4538px;
  width:79px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:767px;
  width:79px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:20000px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:20000px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
